<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="SDCDB" connectionString="server=uappecc;Initial Catalog=sdc_db;Integrated Security=True" providerName="System.Data.SqlClient" />	
  </connectionStrings>

  <system.web>	
	<!--<customErrors mode = "RemoteOnly"/>-->
	<trust level="Full" originUrl="" />
  	<authentication mode="Forms">
		<forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
	 <identity impersonate="true" userName="NFD_NT_PRD\SSPAdmin" password="R7gEuzHxTtm2" />
	  <pages>
		  <namespaces>
			  <add namespace="System.Web.Optimization" />			  
		  </namespaces>
		  <controls>
			  <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
		  </controls>
	  </pages>	  
	  <webServices>
		  <soapExtensionTypes>
			  <add type="TraceSoapExtension.SDCExtension.TraceSoapExtension,TraceSoapExtension" />
		  </soapExtensionTypes>
	  </webServices>	  
    <compilation targetFramework="4.0" />
	 <httpRuntime requestValidationMode="2.0" />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>

    <profile>
	
	
	
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

	<!--enable CORS (cross-origin resource sharing)-->
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="Content-Type, SOAPAction" />
				<add name="Access-Control-Allow-Methods" value="GET, PUT, POST, DELETE, HEAD, OPTIONS" />
			</customHeaders>
		</httpProtocol>
        <handlers>
            <remove name="OPTIONSVerbHandler" />
            <add name="OPTIONSVerbHandler" path="*" verb="" modules="ProtocolSupportModule" resourceType="Unspecified" requireAccess="None" />
            <add name="Loacal Image" path="*.png" verb="*" type="System.Web.StaticFileHandler" resourceType="Unspecified" preCondition="integratedMode" />
            <add name="CSS" path="*.css" verb="*" type="System.Web.StaticFileHandler" resourceType="Unspecified" preCondition="integratedMode" />
        </handlers>
	</system.webServer>  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">  
            <dependentAssembly>  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />  
                 <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />  
            </dependentAssembly>
  
            <dependentAssembly>  
                 <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />  
                 <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />  
            </dependentAssembly>  
       </assemblyBinding>  
  </runtime>
</configuration>
